/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    }


/* Body  */
body{
    font-family: 'PT Sans', sans-serif;
}

/* Header  */
header{
    text-align: right;
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 5;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.bg-red, .bg-green, .bg-yellow{
    height: 100vh;
}

li{
    display: inline-block;
}

li > a{
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    margin-right: 30px;
    display: inline-block;
    box-shadow: 5px 5px 5px #000000
}

section{
    position: relative;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    font-size: 60px;
    text-align: center;
    word-spacing: 20px; 
    letter-spacing: 7px;
    color: yellow;
}

.bg-yellow div > p{
    color: green;
}